@if (IsOpen)
{
    <div class="@OverlayClass" @onclick="HandleOverlayClick">
        <div class="@WrapperClass" @onclick:stopPropagation="true">
            <MudPaper Class="@PaperClass" Elevation="@Elevation">
                @ChildContent
            </MudPaper>
        </div>
    </div>
}

@code {
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter, EditorRequired] public string OverlayClass { get; set; } = string.Empty;
    [Parameter, EditorRequired] public string WrapperClass { get; set; } = string.Empty;
    [Parameter, EditorRequired] public string PaperClass { get; set; } = string.Empty;
    [Parameter] public int Elevation { get; set; } = 12;
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = default!;

    private Task HandleOverlayClick()
    {
        return OnClose.InvokeAsync();
    }
}
