<h3>Outputs</h3>

<div class="card m-2">
    <div class="card-body">
        <h6 class="card-title text-center">Digital Marketing</h6>
        <h6 class="card-subtitle mb-2 text-muted text-center">Sales Department</h6>
        <div class="card-text text-center">
            <img class="card-img-top" src="../EmployeeImage.png" alt="Card image cap">
            <h5>Margaret</h5>
        </div>
        <div>
            <h6 class="card-text"><b>ID</b>: <small>124</small></h6>
            <h6 class="card-text"><b>Joined</b>: <small>12th July 2012</small> </h6>
            <h6 class="card-text"><b>Email</b>: <small>margaret@domain.com</small></h6>
        </div>

    </div>
</div>

@code {

}
