<h3>Skills</h3>

<MudContainer>
    <MudGrid align-center>
        <MudSelect T="string" Label="Skills" AnchorOrigin="Origin.BottomCenter">
            <MudSelectItem Value="@("Abattage")" />
            <MudSelectItem Value="@("Menuiserie")" />
            <MudSelectItem Value="@("Cuisine au feu de camp")" />
        </MudSelect>
        <UserSkills />
    </MudGrid>
</MudContainer>





@code {

}
