/*
	This CSS file matches the color scheme from MudBlazor to Bootstrap when utilized for authentication.
	The file remains available at all times for demonstration purposes,
	but it is exclusively employed in the 'App.razor' component when authentication is enabled.
*/

.btn-primary {
    text-transform: uppercase;
    --bs-btn-bg: var(--mud-palette-primary) !important;
    --bs-btn-hover-bg: var(--mud-palette-primary-darken) !important;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: var(--mud-palette-primary) !important;
}

.nav {
    --bs-nav-link-color: var(--mud-palette-primary) !important;
    --bs-nav-link-hover-color: var(--mud-palette-primary-darken) !important;
}

.diagram-container {
    width: 100%;
    height: 600px;
    border: none;
}

.item-node-title {
    background-color: dodgerblue;
}

.tag-node-title {
    background-color: grey;
}

.recipe-node-title {
    background-color: darkgreen;
}

.eco-node {
    padding: 20px;
    color: white;
}

.rectangle-input .mud-input {
    height: 25px;
    width: 100px;
}

.flex-no-grow {
    flex: 0 1 auto !important;
}

.square-input .mud-input {
    height: 35px;
    width: 55px;
}

.rectangle-input input.mud-input-root-outlined, .square-input input.mud-input-root-outlined {
    padding-top: 6px !important;
    padding-bottom: 7px !important;
}

.select-dense .mud-input-slot {
    padding-top: 12px !important;
    padding-bottom: 14px !important;
}

.select-dense.very-dense .mud-input-slot {
    padding-top: 6px !important;
    padding-bottom: 7px !important;
}

.mud-table-head .mud-table-row .mud-table-cell {
    background-color: #303038 !important;
}

.mud-table-container-no-overflow-y > .mud-table-container {
    overflow-y: hidden !important;
}

.dense-checkbox .mud-button-root {
    padding: 4px;
}

.hack-validation .mud-input-control-helper-container {
    position: absolute;
    bottom: -25px;
}
