@using MudBlazor
@using ecocraft.Models

<div style="@StyleString"></div>

@code {
    [Parameter] public string ImageUrl { get; set; }
    [Parameter] public int XPos { get; set; } // Position en colonne
    [Parameter] public int YPos { get; set; } // Position en ligne
    [Parameter] public int IconSize { get; set; } = 32;

    // Calcul des coordonnées en pixels en multipliant par la taille de l'icône
    private int PixelXPos => XPos * IconSize;
    private int PixelYPos => YPos * IconSize;
    private string BackgroundSize
    {
        get
        {
            if (ImageUrl == "UI_Icons_Large_01.png")
                return "800%";
            else if (!string.IsNullOrEmpty(ImageUrl) && ImageUrl.Contains("Icons_Baked"))
                return "6400%";
            else
                return "1600%";
        }
    }


    // Construction de la chaîne de style
    private string StyleString => $@"
        width: {IconSize}px;
        height: {IconSize}px;        
        background-position: -{PixelXPos}px -{PixelYPos}px;
        background-size: {BackgroundSize};
        overflow: hidden;
        background-image:url('/assets/icons/{ImageUrl}');
        flex:0 0 {IconSize}px;
    ";
}
