@using MudBlazor

@* <MudImage Style="@StyleString" /> *@
<div style=@StyleString></div>

@code {
    [Parameter] public string ImageUrl { get; set; }
    [Parameter] public int XPos { get; set; } // Position en colonne
    [Parameter] public int YPos { get; set; } // Position en ligne
    [Parameter] public int IconSize { get; set; } = 32;

    // Calcul des coordonnées en pixels en multipliant par la taille de l'icône
    private int PixelXPos => XPos * IconSize;
    private int PixelYPos => YPos * IconSize;

    // Construction de la chaîne de style
    private string StyleString => $@"
        width: {IconSize}px;
        height: {IconSize}px;
        background-position: -{PixelXPos}px -{PixelYPos}px;
        background-size: 800%;
        overflow: hidden;
        background-image:url('{ImageUrl}');
    ";
}

@* <div style="background-image: url('@ImageUrl'); background-position: -@PixelXPos px -@PixelYPos px; width: @IconSize px; height: @IconSize px; background-size: auto; overflow: hidden;"></div> *@

