@implements IDisposable
@inherits LayoutComponentBase
@using ecocraft.Services
@inject ContextService ContextService

<MudThemeProvider Theme="myDarkTheme" @bind-IsDarkMode="@_isDarkMode"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<title>Eco Gnome - Tools for Eco video game</title>

<MudLayout>
    <MudAppBar Elevation="2">
        @* <MudImage Src="/assets/avatar.png" Width="52" /> *@

        @* <MudText Typo="Typo.h5" Class="ml-3">Eco Gnome</MudText> *@
        @* <MudSpacer/> *@
        @if (!_isLoading)
        {
            <Header @bind-isDarkMode="_isDarkMode"></Header>
        }
    </MudAppBar>

    <MudDrawer @bind-Open="@_open" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true" ClipMode="DrawerClipMode.Docked" Elevation="4">
        <NavMenu/>
    </MudDrawer>

    <MudMainContent Class="mt-16 pa-6">
        @if (!_isLoading)
        {
            if (ContextService.CurrentUserServer is not null)
            {
                @Body
            }
            else
            {
                <MudText>Please join a server !</MudText>
            }
        }
        else
        {
            <MudItem sm="12" class="d-flex justify-center">
                <MudProgressCircular Size="Size.Large" Color="Color.Primary" Indeterminate="true" />
            </MudItem>
        }
    </MudMainContent>

</MudLayout>

@code {
    // private bool _drawerOpen = true;
    private bool _isLoading = true;
    private bool _open = false;

    //private MudTheme _theme = new();
    private bool _isDarkMode = true;

    private MudTheme myDarkTheme = new MudTheme()
        {
            // Dark theme, celui utilisé actuellement
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Blue.Lighten1,
                Secondary = Colors.Orange.Lighten1,
                TextPrimary = "rgba(255,255,255,0.8)",
                TextSecondary = "rgba(255,255,255,0.8)",
                TextDisabled = "rgba(255,255,255,0.8)",
            },

            // Theme troll vert
            PaletteLight = new PaletteLight()
            {
                Black = "#212121",
                Background = "#5a9046",
                Primary = "#f4ffa1",
                Surface = "#304e24",
                DrawerBackground = "#298684",
                DrawerIcon = "#ffffff",
                DrawerText = "#ffffff",
                AppbarBackground = "#298684",
                TableLines = "#ffffff",
                TextPrimary = "#ffffff",
                TextSecondary = "#d0d0d0",
                ActionDefault = "#adadb1",
                ActionDisabled = "rgba(255,255,255, 0.26)",
                ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            },
        };

    protected override Task OnInitializedAsync()
    {
        ContextService.OnContextChanged += StateHasChanged;

        return Task.CompletedTask;
    }

    public void Dispose()
    {
        ContextService.OnContextChanged -= StateHasChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        await ContextService.InitializeContext();

        this._isLoading = false;
        StateHasChanged();
    }
}
