@using ecocraft.Services
@inherits LayoutComponentBase
@inject ContextService ContextService

<MudThemingProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<title>Eco Price Calculator</title>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Calculate" Color="Color.Inherit" Edge="Edge.Start" />
        <MudText Typo="Typo.h5" Class="ml-3">Eco Price Calculator</MudText>
        <MudSpacer/>
        @if (!_isLoading)
        {
            <Header></Header>
        }
    </MudAppBar>

    <MudDrawer Open="true" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu/>
    </MudDrawer>

    <MudMainContent Class="mt-16 pa-8">
        @if (!_isLoading)
        {
            @Body
        }
        else
        {
            <MudItem sm="12" class="d-flex justify-center">
                <MudProgressCircular Size="Size.Large" Color="Color.Primary" Indeterminate="true" />
            </MudItem>
        }
    </MudMainContent>
    
</MudLayout>

@code {
    // private bool _drawerOpen = true;
    private bool _isLoading = true;

    /*private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }*/
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        await ContextService.InitializeContext();

        this._isLoading = false;
        StateHasChanged();
    }
}